
@{
    ViewBag.Title = "Aggrigate";
}

<h2>Aggregate Function</h2>
<div class="d-flex justify-content-between">
    <div class="card mb-2">
        <div class="card-header">
            <label>Number of Employee</label>
        </div>
        <div class="card-body">
            <h2>@ViewBag.numberOfEmployee</h2>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header">
            <label>Total Monthly  Salary</label>
        </div>
        <div class="card-body">
            <h2>@ViewBag.totalSalary</h2>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header">
            <label>Maximum  Monthly  Salary</label>
        </div>
        <div class="card-body">
            <h2>@ViewBag.MaxSalary</h2>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header">
            <label>Minimum  Monthly  Salary</label>
        </div>
        <div class="card-body">
            <h2>@ViewBag.MinSalary</h2>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header">
            <label>Average   Monthly  Salary</label>
        </div>
        <div class="card-body">
            <h2>@ViewBag.AvgSalary</h2>
        </div>
    </div>
</div>


