@model Employee_Management_Peoject.Models.Skill
@{
    ViewBag.Title = "Create";
}

@using (Ajax.BeginForm("Create", "Skill", "", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "msg",
    OnComplete = "clearAll"
}, new { id = "form1" }))
{
    <div class="row">
        <div class="col">
            <h2 class="display-4 mb-3 text-center">Create New Skill</h2>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                @Html.LabelFor(x =>x.SkillName, new { @class = "col-form-lavel col-2" })
                <div class="col-6">
                    @Html.TextBoxFor(x => x.SkillName, new { @class = "form-control" })

                </div>
                <div class="col-4">
                    @Html.ValidationMessageFor(x => x.SkillName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <input type="submit" name="name" value="Save " class="btn btn-outline-primary mb-8" />
    </div>
    <div id="msg">

    </div>
}
<div>
    <a href="@Url.Action("Index","Skill")" class="btn btn-link"><i class="fa fa-arrow-left"></i>Back to List</a>
</div>

@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        function clearAll() {
            $("#form1").trigger("reset")
        };


    </script>
}

